<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>316118883805-0gc21pbb7vcf3jgodi32otngmd8edhf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316118883805-0gc21pbb7vcf3jgodi32otngmd8edhf9</string>
	<key>API_KEY</key>
	<string>AIzaSyCuQdk8rhtc0Mlg7Y8JabZhBUwsPxMqPbo</string>
	<key>GCM_SENDER_ID</key>
	<string>316118883805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rjtcompuquest.EarlyWarningSystem.com</string>
	<key>PROJECT_ID</key>
	<string>ewsystem-593f2</string>
	<key>STORAGE_BUCKET</key>
	<string>ewsystem-593f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316118883805:ios:38e2879b88f64797</string>
	<key>DATABASE_URL</key>
	<string>https://ewsystem-593f2.firebaseio.com</string>
</dict>
</plist>